<%= form_for @ad, :html => { :multipart => true } do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>
      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :ad_title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, id: :ad_price, class: "form-control" %>
      </div>

      <div class="form-group">
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, id: :ad_description, class: "form-control", rows: 20 %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="placeholder-form-photo">
        <%= image_tag @ad.photo %>
      </div>
      <div class="form-group">
        <%= form.label :photo %>
        <%= form.file_field :photo, id: :ad_photo, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :category_id %><br>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, include_blank: false %>
      </div>

      <div class="form-group quantity-select">
        <%= form.label :quantity %>
        <%= form.select :quantity, options_for_select([1,2,3,4,5,6,7,8,9,10], @ad.quantity), class: "form-control" %>
      </div>

      <div class="ad-address-container">
        <h5>Address</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :street %>
              <%= form.text_field :street, id: :ad_street, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <%= form.label :city %>
            <%= form.text_field :city, id: :ad_city, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :state %>
              <%= form.text_field :state, id: :ad_state, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <%= form.label :zipcode %>
            <%= form.text_field :zipcode, id: :zipcode, class: "form-control" %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>

  <p style="float: right;"><%= form_button_helper(@form_type) %></p>
<% end %>
