<% if @ads.count != 0 %>
  <% @ads.each do |ad| %>
    <div class="ad-item">
      <%= link_to image_tag(ad.image), ad,  class: "ad-image" %>
      <div class="ad-item-content">
        <p class="ad-category"><%= ad.category.name %></p>
        <%= link_to ad.title, ad, class: "ad-title" %>
        <p><%= number_to_currency(ad.price) %></p>
        <p><%= ad.description %></p>
        <%= show_ad_published_status(@page, ad) %>
        <p>Posted By: <%= ad.user.first_name + " " + ad.user.last_name %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="no-content-container">
    <h3>There are no ads in the <%= @category.name.capitalize %> category.</h3>
  </div>
<% end %>
