<%= render 'home_nav' %>

<div class="container-fluid">
  <div class="container ad-home-container">
    <div class="ad-content">
      <% @ads.each do |ad| %>
      <div class="ad-item">
        <%= link_to image_tag(ad.image), ad,  class: "ad-image" %>
        <div class="ad-item-content">
          <%= link_to ad.title, ad, class: "ad-title" %>
          <p><%= number_to_currency(ad.price) %></p>
          <p><%= ad.description %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="filter-content" style="text-align: center;">
      <p>也称乱数假文或</p>
    </div>
  </div>
</div>
<!-- <p id="notice"><%= notice %></p> -->
