<div class="container-fluid">
  <div class="container ad-content-container ad-show-container">
    <h2><%= @ad.title %></h2>
    <br>
    <p><%= number_to_currency(@ad.price) %></p>
    <br>
    <p><%= simple_format(@ad.description) %></p>
    <br>
    <div class="row ad-info-container">
      <div class="col-sm-4">
        <% if @ad.sold == false %>
          Visibility: <%= @ad.published.upcase %></span>
        <% end %>
      </div>
      <div class="col-sm-4">
        Posted by: <%= @ad.user.first_name + " " + @ad.user.last_name %>
      </div>
      <div class="col-sm-4">
        Category: <span class="capitalize"><%= @ad.category.name %></span>
      </div>
    </div>
    <br>
    <div class="ad-show-photo">
      <%= image_tag @ad.photo, class: "img-fluid" %>
    </div>
    <br>
    <%= display_edit_btns(@ad) %>
    <%= display_published_toggle_btns(@ad) %>
    <div class="ad-show-purchase-container">
      <span class="ad-quantity-text">Quantity: <%= @ad.quantity %></span>
      <%= show_purchase_container(@ad) %>
    </div>
  </div>
</div>
