<%= render 'home_nav' %>

<div class="container-fluid">
  <div class="ad-show-container">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag @ad.image %>
      </div>
      <div class="col-md-10">
        <h3><%= @ad.title %></h3>
        <br>
        <p>
          <strong>Description</strong><br>
          <%= @ad.description %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">

      </div>
      <div class="col-md-2">
        <%= link_to 'Edit', edit_ad_path(@ad), class: "btn btn-primary" %> |
        <%= link_to 'Back', ads_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
