<div class="container-fluid">
  <div class="ad-show-container">
    <div class="row">
      <div class="col-md-7">
        <h2><%= @ad.title %></h2>
        <br>
        <p><%= number_to_currency(@ad.price) %></p>
        <br>
        <p><%= @ad.description %></p>
        <br>
        <p>Visibility: <span class="ad-published-status"><%= @ad.published %></span> <span class="light-box">Posted by: <%= @ad.user.first_name + " " + @ad.user.last_name %></span> Category: <span class="capitalize"><%= @ad.category.name %></span></p>
        <br>
        <div class="ad-show-image">
          <%= image_tag @ad.image %>
        </div>
      </div>
      <div class="col-md-5">

      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <% if user_signed_in? %>
          <% if current_user.id == @ad.user_id %>
            <%= form_button_helper(@form_type) %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if user_signed_in? %>
          <% if current_user.id == @ad.user_id %>
            <% if @ad.published == "draft" %>
              <%= link_to "Post", toggle_published_ad_path(@ad.id), class: "btn btn-success"%>
            <% else %>
              <%= link_to "Hide", toggle_published_ad_path(@ad.id), class: "btn btn-danger"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
