<div class="container-fluid">
  <div class="ad-show-container">
    <div class="row">
      <div class="col-md-7">
        <h2><%= @ad.title %></h2>
        <br>
        <p><%= number_to_currency(@ad.price) %></p>
        <br>
        <p><%= @ad.description %></p>
        <br>
        <p>Visibility: <span class="ad-published-status"><%= @ad.published %></span> <span class="light-box">Posted by: <%= @ad.user.first_name + " " + @ad.user.last_name %></span> Category: <span class="capitalize"><%= @ad.category.name %></span></p>
        <br>
        <div class="ad-show-image">
          <%= image_tag @ad.photo %>
        </div>
      </div>
      <div class="col-md-5">

      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= display_edit_btns(@ad) %>
      </div>
      <div class="col-md-2">
        <%= display_published_toggle_btns(@ad) %>
      </div>
    </div>
  </div>
</div>
