<div class="container-fluid">
  <div class="ad-show-container">
    <div class="row">
      <div class="col-md-2">
        <div class="ad-image">
          <%= image_tag @ad.image %>
        </div>
      </div>
      <div class="col-md-10">
        <h3><%= @ad.title %></h3>
        <br>
        <p>
          <strong>Price</strong><br>
          <%= number_to_currency(@ad.price) %>
        </p>
        <p>
          <strong>Category</strong><br>
          <%= @ad.category.name %>
        </p>
        <p>
          <strong>Description</strong><br>
          <%= @ad.description %>
        </p>
        <p>
          <strong>Poster</strong><br>
          <%= @ad.user.first_name %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">

      </div>
      <div class="col-md-2">
        <%= form_button_helper(@form_type) %>
      </div>
    </div>
  </div>
</div>
