<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="order-title-text">Purchase Page</h2>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card ad-preview-card" style="width: 18rem;">
        <%= image_tag @ad.photo, class: "card-img-top img-fluid" %>
        <div class="card-body">
          <h5 class="card-title"><%= @ad.title %></h5>
          <p class="card-text"><%= truncate(@ad.description, :length => 80) %></p>
        </div>
        <%= content_tag :span, "$" + @ad.price.to_s + " per item", class: "item-price-container mt-auto" %>
      </div>
    </div>
    <div class="col-md-8 order-address-container">
      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, id: :order_address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :state %>
        <%= form.text_field :state, id: :order_state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :zipcode %>
        <%= form.number_field :zipcode, id: :order_zipcode, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :city %>
        <%= form.text_field :city, id: :order_city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label "Quantity" %>
        <%= select_tag "order[item_quantity]", options_for_select(@quantity_arr, @ad.quantity) %>
      </div>
    </div>
  </div>

  <div class="actions order-btn-container">
    <%= link_to 'Back', '/', class: "btn btn-primary" %>
    <%= hidden_field_tag(:ad_id, @ad.id) %>
    <%= hidden_field_tag(:buyer_first_name, @user.first_name) %>
    <%= hidden_field_tag(:buyer_last_name, @user.last_name) %>
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
