<div class="contain-fluid">
  <div class="container order-content-container">
    <h1>Orders</h1>
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-md-3 order-item">
          <h5>Order #<%= order.id %></h5>
          <h6>Address</h6>
          <p><%= order.address %>, <%= order.city %> <%= order.state %>,  <%= order.zipcode %></p>
          <br>
          <h6>Buyer: <%= order.user.first_name %></h6>
          <p></p>
          <%= link_to 'Edit', edit_order_path(order) %>
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>

  </div>
</div>
