<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Buyer name</th>
      <th>Seller name</th>
      <th>Payment confirmed</th>
      <th>Address</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.buyer_name %></td>
        <td><%= order.seller_name %></td>
        <td><%= order.payment_confirmed %></td>
        <td><%= order.address %></td>
        <td><%= order.state %></td>
        <td><%= order.zipcode %></td>
        <td><%= order.city %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
