<div class="contain-fluid">
  <div class="container order-content-container">
    <h1>Orders</h1>
    <% @orders.each do |order| %>
      <div class="order-item">
        <h5>Address <%= order.id %></h5>
        <p><%= order.address %>, <%= order.city %> <%= order.state %>,  <%= order.zipcode %></p>
        <%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
