<div style="padding: 10px;">
  <h3>Someone purchased an item from your ad: <i><%= @ad.title %></i></h3>
  <br>
  <p style="color: white; background-color: #0099CC; padding: 5px;">Order Information</p>
  <p>Buyer: <%= @order.buyer_first_name + " " + @order.buyer_last_name %></p>
  <p>Address:<%= @order.address %> <%= @order.city + " " + @order.state + ", " + @order.zipcode.to_s %></p>
  <br>
  <p style="color: white; background-color: #0099CC; padding: 5px;">Order Details</p>
  <p>Item Qty: <%= @order.item_quantity %></p>
  <p>Order Creation Date: <%= @order.created_at.strftime("%B %d, %Y") %> at <%= @order.created_at.strftime("%r")%>.</p>
</div>
