<% @sales.each do |sale| %>
  <div class="col-md-4">
      <div class="card sale-card">
        <div class="card-body">
          <h5 class="card-title"><%= sale.ad_title %></h5>
          <h6 class="card-cubtitle mb-2 text-muted"><%= sale.created_at.strftime("%B %d, %Y") %> at <%= sale.created_at.strftime("%r")%></h6>
          <hr>
          <br>
          <p class="card-text"><%= sale.buyer_first_name %> <%= sale.buyer_last_name %></p>
          <p class="card-text"><%= sale.shipping_street %> <%= sale.shipping_city %></p>
          <p class="card-text"><%= sale.shipping_state %> <%= sale.shipping_zipcode %></p>
          <br>
          <div class="sale-block-container">
            <span class="sale-card-block">Qty: <%= sale.item_quantity %></span>
            <span class="sale-card-block">$<%= sale.total_amount %></span>
          </div>
          <br>
          <%= link_to "Ship Order", '#', class: "sale-ship-btn btn btn-block btn-success" %>
      </div>
  </div>
<% end %>
