<div class="container-fluid">
  <div class="container charge-content-container">
    <h2 class="charges-title-text">Confirm Purchase Info</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card ad-preview-card" style="width: 18rem;">
          <%= image_tag @ad.photo, class: "card-img-top img-fluid" %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= @ad.title %></h5>
            <p class="card-text"><%= truncate(@ad.description, :length => 80) %></p>
              <%= content_tag :span, "Item Quantity: " + @order.item_quantity.to_s, class: "item-quantity-container mt-auto" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card charges-card" style="width: 18rem;">
          <%= image_tag "delivery.png", class: "card-img-top img-fluid" %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Delivery Info</h5>
            <p class="card-text"><%= @order.address %><br><%= @order.city %> <%= @order.state %>, <%= @order.zipcode %></p>
            <%= link_to "Change Address", edit_order_path(:id => @order.id, :ad_id => @ad.id), class: "mt-auto btn btn-info" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card charges-card" style="width: 18rem;">
          <%= image_tag "cc.png", class: "card-img-top img-fluid" %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Payment</h5>
            <p class="card-text">
              <%= form_tag charges_path do %>
                <article class="charge-card-body">
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>Amount: <%= number_to_currency(@ad.price) %></span>
                  </label>
                </article>
            </p>
            <div class="charge-btn-container">
              <%= hidden_field_tag(:ad_id, @ad.id) %>
              <%= hidden_field_tag(:order_id, @order.id) %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button mt-auto" id="stripe-btn"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Purchase <%= @ad.title %>"
                      data-amount="<%= (@ad.price.to_f * 100).to_s %>"
                      data-locale="auto"></script>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%= link_to "Cancel Purchase", @order, method: :delete, data: { confirm: "Are you sure want to cancel? Your order will be deleted." }, class: "btn btn-danger ad-action-btn" %>
      </div>
    </div>
  </div>
</div>
