<!DOCTYPE html>
<html>
  <head>
    <title>R3Adspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <footer>
      <%= image_tag 'footer-icon.png' %>
      <p>R3Adspace, 2018 RubyThree LLC</p>
    </footer>
  </body>
</html>
